<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

    <springProperty scope="context" name="springAppName" source="spring.application.name"/>

    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS}  %-5level [${springAppName}] ${PID} ${HOSTNAME} [%thread] %logger{36} - %msg%n"
    />
    <property name="CONSOLE_LOG_PATTERN" value="${LOG_PATTERN}"/>

    <appender name="STDERROR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <immediateFlush>false</immediateFlush>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <property name="FILE_PATH" value="demo-local/logs"/>
    <appender name="FILE_ERRORS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${FILE_PATH}/errors.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${FILE_PATH}/errors-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>7</maxHistory>
            <totalSizeCap>100Mb</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <logger name="com.example.demo" level="DEBUG"/>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="FILE_ERRORS"/>
        </root>
    </springProfile>

    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="STDERROR"/>
        </root>
    </springProfile>

</configuration>
